*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* sezione voew globali */
#view{
    height: calc(100vh - 50px);
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    color: #fff;
    position: relative;
}
.container{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
    align-content: flex-start;
}
.item-call{
    width: 20%;
    min-width: 200px;
    position: relative;    
}
.user{
    position: absolute;
    bottom: 6px;
    left: 0;
    padding: 2px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
}
.item-call img{
    object-fit: cover;
    width: 100%;
}

    /* div setting in posizione assoluta */
#setting{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: x-small;
}

#setting div{
    border-radius: 5px;
    display: inline-block;
    background-color: #4a4b4c;
    padding: 2px 10px;
}

    /* icone pagine */
.pages{
    position: absolute;
    top: 50%;
    color: #7b7c7c;
    font-size: 30px;
    text-align: center;
}
#left-p{
    left: 10px;
}
#right-p{
    right: 10px;
}
.pages>div{
    font-size: small;
}

/* sezione tools e menu di nav */
#tools{
    height: 50px;
    background-color: #212324;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-sx, .nav-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#end-call{
    height: 100%;
    padding: 0 20px;
    cursor: pointer;
    background-color: #4a4b4c; 
    color:  red;
    display: flex;
    align-items: center;
}

#tools i{
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}
.active{
    color: greenyellow;
}

#tools span{
    display: block;
    font-size: 10px;
}
.icon{
    margin: 4px 10px;
    text-align: center;
}
#tools a{
    color: #fff;
    font-size: 22px;
    text-decoration: none;
}